[submodule "vue3-electron-ts"]
	path = vue3-electron-ts
	url = https://github.com/1379769649/vue3-electron-ts.git
[submodule "vue3-admin"]
	path = vue3-admin
	url = https://github.com/zhifou0033/vue3-admin.git
[submodule "vue3-mobile"]
	path = vue3-mobile
	url = https://github.com/zhifou0033/vue3-mobile.git
